#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;

  --gold: #f8e390;
  --green: #5DAB50;
  --black: #1A1A1A;
  --gray-D: #343434;
  --gray-M: #494949;
  --gray-L: #979696;
}

/* ============== HEADER SECTION ================ */

.header-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: var(--green);
  padding: 25px;
  user-select: none;
}

.header-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: self-end;
}

.header-logo {
  width: 250px;
}

.subtitle {
  margin: 0;
  color: var(--black);
  font-size: 38px;
  text-transform: uppercase;
  vertical-align: bottom;
  line-height: 0.8;
  margin-left: 12px;
}
.subtitle span {
  color: var(--gold);
  font-style: italic;
}

.header-search-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 25px;
}

.searchbar {
  border: none;
  border-radius: 8px;
  height: 55px;
  width: 300px;
  margin-right: 50px;

  font-size: 32px;
  padding: 12px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  transition: all 0.25s;

  &:focus-visible {
    outline: none;
    width: 350px;
  }
}

/* ============== COIN DETAILS SECTION ================ */

.details-container {
  margin-top: 125px;
}

.details-top {
  display: flex;
  align-items: center;
}

.details-header {
  min-height: 300px;
  margin-top: 20px;
  text-align: left;
  padding: 22px;
  background-color: var(--gray-D);
  border-radius: 0px 24px 24px 0px;
}

.details-name {
  font-size: 54px;
  margin: 0;
}
.details-description {
  font-size: 20px;
  color: var(--gray-L);
  margin: 12px 0;
}
.details-algorithm {
  font-size: 12px;
  color: var(--gray-L);
}
.details-image {
  border-radius: 12px;
  margin: 24px;
}

.chart-container {
  display: flex;
}

.chart-title {
  background-color: var(--green);
  display: flex;
  padding: 12px 0;
}

.chart-container h2 {
  writing-mode: vertical-lr;
  font-size: 32px;
}

.chart-wrapper {
  width: 100%;
  padding: 12px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------- TABLE ------- */

.table-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-table {
  border-collapse: collapse;
  margin: 20px 0;
}

table {
  border: 24px solid var(--gray-D);
  width: 100%;
}
th {
  padding: 12px 12px;
  text-align: left;
}
td {
  padding: 6px 12px;
  text-align: right;
}
tr:nth-child(even) {
  background-color: var(--black);
}
tr:nth-child(odd) {
  background-color: var(--gray-D);
}

/* ============== MAIN SECTION ================ */

hr {
  width: 95%;
  border-color: var(--gray-D);
}

.main-section {
  margin-top: 130px;
}

.found-results, .no-results {
  text-align: left;
  padding: 25px;
  text-transform: uppercase;
  font-size: 38px;
  color: var(--gray-L);
}
.found-results h3, .no-results h3 {
  margin: 0;
}

.no-results {
  text-transform: uppercase;
  font-size: 38px;
  color: var(--gray-L);
}

/* ------- COIN ITEMS ------- */

.crypto-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.coin-info-container {
  min-width: 500px;
  background-image: url("https://i.gifer.com/ZZ5H.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.coin-info-item {
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: var(--gray-M);
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.coin-image {
  height: 200px;
  width: 200px;
  border-radius: 8px;
  background-color: var(--gray-L);
  margin: 20px;
}

.info-wrapper {
  width: 240px;
  height: 200px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.coin-name {
  width: inherit;
  margin: 0;
  font-size: 32px;
  text-align: left;
  line-height: 2.2rem;
  overflow-wrap: break-word;
}

.coin-symbol {
  font-size: 24px;
  color: var(--gray-L);
  margin: 0;
}

.coin-price {
  margin: 0;
  color: var(--green);
  text-transform: uppercase;
}

/* ============== EXTRA SECTION ================ */

.not-found-container, .loading-container {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-found-img, .loading-icon {
  max-width: 250px;
}
.not-found-header {
  font-size: 64px;
  margin: 15px;
}
.not-found-subtitle {
  color: var(--gray-L);
}

@keyframes loading {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

.loading-text::after {
  content: "";
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.loading-text {
  font-size: 38px;
}

/* ============== MOBILE SECTION ================ */

@media screen and (max-width: 1092px) {

  .header-search-wrapper {
    position: static;
    padding: 20px;
    width: 100%;
  }

  .searchbar {
    border: none;
    border-radius: 8px;
    height: 55px;
    width: 90%;
    margin-right: 50px;
  
    font-size: 32px;
    padding: 12px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    transition: all 0.25s;
  
    &:focus-visible {
      outline: none;
      width: 90%;
    }
  }

  .details-top {
    display: block;
  }
  .details-header {
    margin-top: 20px;
    text-align: left;
    padding: 22px;
    background-color: var(--gray-D);
    border-radius: 0px;
  }
  .details-image {
    border-radius: 12px;
    margin: 12px;
  }
  .details-table {
    margin: 0;
  }

  .chart-container {
    display: block;
  }
  .chart-title {
    display: block;
  }
  .chart-container h2 {
    writing-mode: horizontal-tb;
    font-size: 32px;
  }
  
}